.hide_banner
{
    display: none !important ;
}
.hide_search
{
    display: none !important;
}

.hide_all_el
{
    display: none !important;
}
.ui-widget-content.ui-autocomplete {
   z-index: 999999;
}

li#accordion-panel-plugin_options {
    display: block !important;
}
